:root {
    --grid-size: 1;
    --grid-pixel-size: 0;
    --center-height: calc(100% - 150px);
}

.center {
    height: var(--center-height);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

#title {
    text-align: center;
    margin: 8px;
    font-size: 30px;
    transition: all 0.3s ease 0s;
}

#description1, #description2, #result{
    text-align: center;
    font-size: 25px;
    transition: all 0.3s ease 0s;
}

#btn {
    user-select: none;
    margin-left: 47.5%;
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

#btn:hover {
    background:  rgba(224, 18, 18, 0.561);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57) ;
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    cursor: pointer;
}

#retry {
    letter-spacing: 1px;
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

#retry:hover {
    color: #ffffff !important;
    background:  rgba(224, 18, 18, 0.561);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57) ;
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    cursor: pointer;
}

#grid {
    height: var(--grid-pixel-size);
    width: var(--grid-pixel-size);
    margin-top: -2%;
    display: inline-grid;
}

.grid-item-1 {
    height: calc(var(--grid-pixel-size) / var(--grid-size) - 10px);
    width: calc(var(--grid-pixel-size) / var(--grid-size) - 10px);
    background-color: #e6eaff;
    text-align: center;
    cursor: pointer;
    margin: 5px;
    border-radius: 50%;
}

.grid-item-1:hover{
    background-color: #e6eaffd7;
}

.grid-item-2 {
    height: calc(var(--grid-pixel-size) / var(--grid-size) - 10px);
    width: calc(var(--grid-pixel-size) / var(--grid-size) - 10px);
    background-color: #5f9baa;
    text-align: center;
    margin: 5px;
}

.grid-item-3 {
    height: calc(var(--grid-pixel-size) / var(--grid-size) - 10px);
    width: calc(var(--grid-pixel-size) / var(--grid-size) - 10px);
    background-color: #46717c;
    text-align: center;
    margin: 5px;
}

.grid-item-4 {
    height: calc(var(--grid-pixel-size) / var(--grid-size) - 10px);
    width: calc(var(--grid-pixel-size) / var(--grid-size) - 10px);
    background-color: #294349;
    text-align: center;
    margin: 5px;
    border-radius: 50%;
}

#alertMessage {
    user-select: none;
    margin: 0;
    top: 25%;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 100px;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.reaction-time-result {
    color: black;
    font-size: 20px;
}



