:root{
    --width: 1024px;
    --height: 768px;
}

#title {
    text-align: center;
    font-size: 30px;
    transition: all 0.3s ease 0s;
    color: white;
}

#description1, #description2{
    text-align: center;
    font-size: 25px;
    transition: all 0.3s ease 0s;
    color: white;
}

#content {
    display: inline-block;
    border: solid 3px rgb(107, 107, 107);
    background-color:  rgb(24, 24, 24);
    width: var(--width);
    height: var(--height);
    position: relative;
    margin-top:  40px;
    margin-left: calc(50% - var(--width)/2);
    text-align: center;
}

#main-circle {
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: #325f2c;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    margin-left: calc(var(--width)/2 - 15px);
    margin-top: calc(var(--height)/2 - 15px);
}

#main-circle:hover{
    background-color: #25701b;
}

.circle-1 {
    height: 10px;
    width: 10px;
    background-color: #e7e7e7;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}

.circle-2 {
    height: 30px;
    width: 30px;
    background-color: #e7e7e7;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}

.circle-3 {
    height: 50px;
    width: 50px;
    background-color: #e7e7e7;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}

.circle-1:hover, .circle-2:hover, .circle-3:hover {
    background-color: #ffffff;
}

#button {
    margin-top: calc(var(--height)/2 - 32.5px - 46px - 38px - 38px - 75px);
    text-align: center;  
    user-select: none;
    border: none;
    background: rgb(66, 66, 66);
    color: #ffffff !important;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

#button:hover {
    background: rgb(88, 88, 88);
    cursor: pointer;
}

#results {
    margin-top: calc(var(--height)/2 - 82.5px);
    text-align: center;  
    user-select: none;
    border: none;
    background: rgb(66, 66, 66);
    color: #ffffff !important;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

#countdown {
    margin-top: calc(var(--height)/2 - 32.5px);
    text-align: center;  
    user-select: none;
    border: none;
    background: rgb(66, 66, 66);
    color: #ffffff !important;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}